* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

#userForm {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#userForm input,
#userForm button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#userForm input::placeholder {
    color: #aaa;
}

#userForm button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#userForm button:hover {
    background-color: #0056b3;
}

#userForm h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
}

/* Media query for desktop screens */
@media (min-width: 768px) {
    #userForm {
        max-width: 500px;
    }
}

@media (min-width: 1024px) {
    #userForm {
        max-width: 600px;
    }
}
